*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width:100;
}#main{
    height:100%;
    width: 100%;
  
}
#header{
   height: 10vh;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;

}
#logo{
    height: 70%;
    margin: 10px;
}
#logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#contactdetails{
    font-weight: lighter;
    margin: 10px;
    margin-left: 40px;

}
#fakeheader{
    height: 10vh;
    width: 100vw;
    }
#page1{
    background-color: blue;
    height: 90vh;
    width: 100vw;
    
}
#page2{
    background-color: azure;
    height: 90vh;
    width: 100vw;
    
}
.text{
    margin: 10px;
    color: rgb(3, 3, 73);
}


